openapi: 3.0.3
info:
  title: PVModern API
  description: |
    HTTP surface exposed by the `YourVendor_PVModern` Magento module that powers the
    Techieworld storefront. Groups cover **storefront data feeds** (currency, weather,
    news, banners, locations, search), the **multi-step checkout & payment flow**
    (quote → place order → payment session → SSE status → confirmation), the
    **payment-provider webhooks/IPN** (MoMo, VNPay, Stripe, Casso, SePay), the
    custom **/pvadmin payment review dashboard**, and the native **Magento backend**
    payment dashboard under `/pvmodern_payments`.

    Routes resolve through Magento's frontName router. The "Base URL" should be your
    storefront origin (e.g. `https://techieworld.site`). Endpoints under `/api/...`
    are registered before `Magento_Webapi`, so they take precedence over generic
    Web API routes.
  version: 1.0.0
  contact:
    name: PVModern module owners

servers:
  - url: https://techieworld.site
    description: Production
  - url: http://localhost
    description: Local development

tags:
  - name: Storefront Data
    description: Read-only data feeds rendered by storefront dashboards (currency, news, weather, banners, locations, search).
  - name: Checkout
    description: Custom checkout flow that bypasses default Magento checkout — quote shipping → place order → start payment session.
  - name: Payments
    description: Payment session lifecycle — create, polling, SSE event stream, retry, screenshot upload (deprecated).
  - name: Webhooks
    description: Provider callbacks (MoMo, VNPay, Stripe, Casso, SePay). All POST except VNPay IPN (GET). Each verifies its own signature.
  - name: QR
    description: Same-origin QR image proxies and demo-mode scan-to-pay landing.
  - name: Shipping
    description: Carrier tracking lookup and shipment cancellation (GHN / GHTK / SPX adapters).
  - name: Orders
    description: Customer-facing order tracking lookup.
  - name: Auth
    description: GitHub OAuth login bridge into Magento customer accounts.
  - name: PV Admin
    description: Cookie-protected payment review dashboard at `/pvadmin/admin/*`.
  - name: Magento Admin
    description: Native Magento backend routes under `/pvmodern_payments/payments/*` (ACL-protected).

paths:
  ###############################################################################
  # Storefront Data
  ###############################################################################
  /api/currency:
    get:
      tags: [Storefront Data]
      summary: Currency rates / convert / history (mode dispatcher)
      description: |
        Single dispatcher that mirrors the three `/currency/*` aliases. Pass
        `mode=latest|convert|history` (default `latest`). Backed by Vietcombank's
        public XML feed with a 5-minute file cache; falls back to baked-in
        reference rates when the upstream is unreachable.
      parameters:
        - in: query
          name: mode
          schema:
            type: string
            enum: [latest, convert, history]
            default: latest
        - in: query
          name: from
          schema: { type: string, example: USD }
          description: Convert mode only.
        - in: query
          name: to
          schema: { type: string, example: VND }
          description: Convert mode only.
        - in: query
          name: amount
          schema: { type: number, example: 100 }
          description: Convert mode only.
        - in: query
          name: range
          schema:
            type: string
            enum: [1D, 7D, 1M, 3M, 6M, 1Y, 5Y]
            default: 1M
          description: History mode only.
      responses:
        '200':
          description: Mode-dependent currency response.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/CurrencyLatest'
                  - $ref: '#/components/schemas/CurrencyConvert'
                  - $ref: '#/components/schemas/CurrencyHistory'

  /currency/latest:
    get:
      tags: [Storefront Data]
      summary: Currency — latest rates (alias of `/api/currency?mode=latest`)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CurrencyLatest' }

  /currency/convert:
    get:
      tags: [Storefront Data]
      summary: Currency — convert (alias of `/api/currency?mode=convert`)
      parameters:
        - in: query
          name: from
          schema: { type: string, default: USD }
        - in: query
          name: to
          schema: { type: string, default: VND }
        - in: query
          name: amount
          schema: { type: number, default: 100 }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CurrencyConvert' }

  /currency/history:
    get:
      tags: [Storefront Data]
      summary: Currency — historical chart series (synthesised from current rate)
      parameters:
        - in: query
          name: range
          schema:
            type: string
            enum: [1D, 7D, 1M, 3M, 6M, 1Y, 5Y]
            default: 1M
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CurrencyHistory' }

  /api/news:
    get:
      tags: [Storefront Data]
      summary: Tech / business news feed (RSS-backed with fallback list)
      description: |
        Pulls VnExpress Kinh doanh RSS as the primary source; if the feed is
        unreachable, returns an in-code list of curated tech-business headlines.
      parameters:
        - in: query
          name: category
          schema:
            type: string
            enum: [all, general, business, technology, science, health, sports, entertainment, politics, world, finance, ai, local, startup, mobile, gadgets, cybersecurity, software, gaming, fintech]
            default: all
        - in: query
          name: page
          schema: { type: integer, minimum: 1, default: 1 }
        - in: query
          name: q
          schema: { type: string }
          description: Free-text filter against title/summary/source.
        - in: query
          name: region
          schema: { type: string, default: global }
        - in: query
          name: sort
          schema:
            type: string
            enum: [latest, popular, relevant]
            default: latest
      responses:
        '200':
          description: News listing.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NewsFeed' }

  /news:
    get:
      tags: [Storefront Data]
      summary: News page (HTML) or feed (JSON when called as `/api/news`)

  /api/weather:
    get:
      tags: [Storefront Data]
      summary: Weather snapshot (OpenWeatherMap-backed)
      description: |
        Returns current conditions + hourly + daily + AQI + alert. Resolves
        coordinates via OpenWeatherMap's geocoding endpoint when `lat`/`lon`
        aren't supplied. Falls back to a deterministic mock payload when
        `OPENWEATHER_API_KEY` is unset.
      parameters:
        - in: query
          name: city
          schema: { type: string, default: Hanoi }
        - in: query
          name: lat
          schema: { type: string }
        - in: query
          name: lon
          schema: { type: string }
        - in: query
          name: unit
          schema:
            type: string
            enum: [metric, imperial]
            default: metric
      responses:
        '200':
          description: Weather payload.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Weather' }

  /weather:
    get:
      tags: [Storefront Data]
      summary: Weather page (HTML) or feed (JSON when called as `/api/weather`)

  /api/banners:
    get:
      tags: [Storefront Data]
      summary: Hero banner slides for a given placement
      parameters:
        - in: query
          name: placement
          schema: { type: string, default: homepage-hero }
      responses:
        '200':
          description: Banner list.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BannerList' }

  /api/locations:
    get:
      tags: [Storefront Data]
      summary: Vietnam province / district / ward tree
      description: |
        Pulls `provinces.open-api.vn` once and caches the JSON tree under
        `var/pvmodern/vietnam-locations.json` (24h public cache). Used by
        shipping address selectors.
      responses:
        '200':
          description: Cached Vietnam location tree.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Locations' }

  /pvmodern/search/suggest:
    get:
      tags: [Storefront Data]
      summary: Product search suggestions (typeahead)
      description: |
        Returns up to 10 visible-in-site, in-stock products whose name or SKU
        contains the query string. Sorted by a fuzzy score (prefix-match, word
        boundary, sku match, price > 0).
      parameters:
        - in: query
          name: q
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Suggestion list.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SearchSuggest' }

  ###############################################################################
  # Checkout
  ###############################################################################
  /pvmodern/checkout/quote:
    post:
      tags: [Checkout]
      summary: Quote shipping options for the current cart + address
      description: |
        Returns available shipping methods and their costs for the supplied
        cart + address payload. Requires `form_key` matching the active
        Magento session — the storefront includes it in the request body.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CheckoutQuoteRequest' }
      responses:
        '200':
          description: Shipping options.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CheckoutQuoteResponse' }
        '422':
          description: Validation error (expired form key, invalid address, etc.).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }

  /pvmodern/checkout/placeOrder:
    post:
      tags: [Checkout]
      summary: Place the order (creates the Magento sales/order_increment_id)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CheckoutPlaceOrderRequest' }
      responses:
        '200':
          description: Order placed.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CheckoutPlaceOrderResponse' }
        '422':
          description: Validation failure.
        '500':
          description: Order could not be placed.

  /pvmodern/checkout/paymentSession:
    post:
      tags: [Checkout]
      summary: Alias that forwards to `/pvmodern/payments/create`
      description: Internal Magento `forward()` — same payload as `/payments/create`.

  ###############################################################################
  # Payments
  ###############################################################################
  /pvmodern/payments/create:
    post:
      tags: [Payments]
      summary: Create a payment session for an existing order
      description: |
        Resolves the payment provider (bank_transfer or online_gateway), calls
        `initialize()`, persists a `pv_payment_attempt` row, and returns the
        payload step 4 of the checkout flow renders (QR code URL, redirect URL,
        deeplink, transfer code, polling endpoints).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreatePaymentRequest' }
      responses:
        '200':
          description: Payment session created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CreatePaymentResponse' }
        '422':
          description: Unsupported method, non-VND currency, or invalid amount.
        '503':
          description: Provider unavailable.

  /pvmodern/payments/status:
    get:
      tags: [Payments]
      summary: Read payment status straight from the Magento order
      parameters:
        - in: query
          name: orderId
          schema: { type: string }
        - in: query
          name: paymentId
          schema: { type: string }
      responses:
        '200':
          description: Status snapshot.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PaymentStatusResponse' }

  /pvmodern/payments/pvStatus:
    get:
      tags: [Payments]
      summary: Read payment status from the PV shadow table (auto-expires)
      description: |
        Reads/creates the `pv_payment_order` row, applies auto-expiry, and
        merges in the latest attempt status. This is what step 4 of the
        storefront polls every few seconds as a fallback to the SSE stream.
      parameters:
        - in: query
          name: orderId
          required: true
          schema: { type: string }
      responses:
        '200':
          description: PV order + attempt status.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PvStatusResponse' }
        '400':
          description: Missing orderId.
        '404':
          description: Order not found.

  /pvmodern/payments/upload:
    post:
      tags: [Payments]
      deprecated: true
      summary: (Deprecated) Upload manual payment-proof screenshot
      description: |
        Returns **410 Gone** in current builds. Auto-verification via the
        Casso/SePay webhook fully replaced this flow. Kept for legacy clients
        only.
      responses:
        '410':
          description: Gone — automatic verification has superseded screenshot uploads.

  /pvmodern/payments/casso:
    post:
      tags: [Webhooks]
      summary: (Legacy) Casso webhook — accepts `Secure-Token` header
      description: |
        Older Casso integrations still POST here; new ones should use
        `/api/webhooks/casso`. Both share the same `CassoTransactionProcessor`.
      parameters:
        - in: header
          name: Secure-Token
          required: true
          schema: { type: string }
          description: Configured `pvmodern/casso_token` value (legacy auth scheme).
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CassoPayload' }
      responses:
        '200':
          description: Always 200 on Casso payloads (Casso retries on non-200).
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: integer, example: 0 }
                  message: { type: string, example: ok }
        '401':
          description: Bad or missing Secure-Token.

  /pvmodern/payments/webhook:
    post:
      tags: [Webhooks]
      summary: Generic HMAC-SHA256 webhook receiver
      description: |
        Authenticates via `X-PVModern-Signature` (hex HMAC-SHA256 over the raw
        body using `PAYMENT_WEBHOOK_SECRET`). Returns 501 when the secret is
        not configured. Logs the body — provider-specific status update is
        meant to be handled by a downstream adapter.
      parameters:
        - in: header
          name: X-PVModern-Signature
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Webhook accepted.
        '401':
          description: Invalid signature.
        '501':
          description: "`PAYMENT_WEBHOOK_SECRET` not configured."

  /pvmodern/paymentSessions/status:
    get:
      tags: [Payments]
      summary: Read latest `pv_payment_attempt` for an order or attempt id
      parameters:
        - in: query
          name: paymentAttemptId
          schema: { type: integer }
        - in: query
          name: orderId
          schema: { type: string }
      responses:
        '200':
          description: Attempt snapshot.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PaymentAttemptSnapshot' }
        '404':
          description: Attempt not found.

  /pvmodern/paymentSessions/events:
    get:
      tags: [Payments]
      summary: Server-Sent Events stream of payment status changes
      description: |
        Streams `event: status` frames as the attempt transitions through
        `pending → awaiting_payment → paid|failed|expired|cancelled`. Internally
        polls the DB every 150ms and (when not in demo mode) actively pulls
        SePay's UserAPI every 2s as a webhook fallback. The connection
        terminates as soon as a terminal status is emitted. Max duration:
        25 minutes.
      parameters:
        - in: query
          name: paymentAttemptId
          schema: { type: integer }
        - in: query
          name: orderId
          schema: { type: string }
      responses:
        '200':
          description: "`text/event-stream` of status events."
          content:
            text/event-stream:
              schema:
                type: string
                example: |
                  : connected

                  event: status
                  data: {"paymentAttemptId":42,"status":"pending","nextStepAllowed":false}

                  event: status
                  data: {"paymentAttemptId":42,"status":"paid","nextStepAllowed":true}

  /pvmodern/paymentSessions/retryStatusCheck:
    post:
      tags: [Payments]
      summary: Force a synchronous provider poll for the given attempt
      description: |
        Runs `PaymentStatusPoller::pollAttempt()` — the same code path the
        SSE stream uses on a timer. Used by the "Check again" button in step 4.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                paymentAttemptId: { type: integer }
      responses:
        '200':
          description: Updated attempt + poll result.
        '404':
          description: Attempt not found.

  ###############################################################################
  # Webhooks
  ###############################################################################
  /api/webhooks/casso:
    post:
      tags: [Webhooks]
      summary: Casso Flow Webhook V2 receiver
      description: |
        Verifies `X-Casso-Signature: t=<unix_ms>,v1=<sha512-hex>` over the
        canonicalised body (recursively sort object keys ascending, re-serialise
        with `JSON_UNESCAPED_SLASHES|JSON_UNESCAPED_UNICODE`). Legacy plain-token
        headers (`Secure-Token`, `X-Webhook-Secret`, `Authorization: Bearer`)
        are also accepted as a fallback.
      parameters:
        - in: header
          name: X-Casso-Signature
          schema: { type: string, example: 't=1716700000000,v1=abc123…' }
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CassoPayload' }
      responses:
        '200':
          description: Ok.
        '401':
          description: Unauthorized — signature failed.
        '400':
          description: Invalid JSON.

  /api/webhooks/sepay:
    post:
      tags: [Webhooks]
      summary: SePay (sepay.vn) bank-credit webhook
      description: |
        Authenticated via `Authorization: Apikey <secret>` (or `Bearer`,
        `X-Webhook-Secret`, `X-Sepay-Token`). Accepts both live and sandbox
        keys. Only `transferType=in` rows are processed; payload is mapped
        into the `CassoTransactionProcessor` envelope.
      parameters:
        - in: header
          name: Authorization
          required: true
          schema: { type: string, example: 'Apikey <secret>' }
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SepayPayload' }
      responses:
        '200':
          description: '`{"success":true}` — SePay expects exactly this shape within 30s.'
        '401':
          description: Unauthorized.
        '400':
          description: Invalid JSON.

  /api/webhooks/momo:
    post:
      tags: [Webhooks]
      summary: MoMo IPN (verified)
      description: |
        Verifies HMAC-SHA256 over the canonical `accessKey=...&amount=...&...`
        string against `secret_key`. On success/failure flips the attempt via
        `PaymentAttemptService::applyProviderResult`. Always returns 200 to
        MoMo unless the signature itself is invalid (401).
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MomoIpnPayload' }
      responses:
        '200':
          description: '`{resultCode:0, message:"Received"}`'
        '401':
          description: Invalid signature.

  /api/webhooks/stripe:
    post:
      tags: [Webhooks]
      summary: Stripe webhook (checkout.session.completed, payment_intent.*)
      description: |
        Verifies `Stripe-Signature` (`t=…,v1=…`) using HMAC-SHA256 over
        `<t>.<raw_body>`. Rejects timestamps older than 5 minutes. Reads
        `metadata.order_increment_id` and `metadata.provider_order_id` to
        locate the attempt.
      parameters:
        - in: header
          name: Stripe-Signature
          required: true
          schema: { type: string }
      responses:
        '200':
          description: '`{received: true}`'
        '400':
          description: Invalid signature / JSON.

  /api/webhooks/vnpay/ipn:
    get:
      tags: [Webhooks]
      summary: VNPay IPN (HMAC-SHA512 query-string signature)
      description: |
        VNPay calls this with a GET request whose query string contains
        `vnp_*` fields and `vnp_SecureHash`. Signature is HMAC-SHA512 over
        the `urlencode(key)=urlencode(value)` pairs (alphabetical, excluding
        the hash fields), with `hash_secret` as the key. Returns the
        VNPay-mandated `RspCode/Message` envelope.
      parameters:
        - in: query
          name: vnp_TxnRef
          schema: { type: string }
        - in: query
          name: vnp_Amount
          schema: { type: integer, description: 'Amount × 100' }
        - in: query
          name: vnp_ResponseCode
          schema: { type: string }
        - in: query
          name: vnp_TransactionNo
          schema: { type: string }
        - in: query
          name: vnp_SecureHash
          schema: { type: string }
      responses:
        '200':
          description: VNPay response envelope.
          content:
            application/json:
              schema:
                type: object
                properties:
                  RspCode: { type: string, example: '00' }
                  Message: { type: string, example: Confirm Success }

  /pvmodern/checkout/momoIpn:
    post:
      tags: [Webhooks]
      summary: Legacy MoMo IPN route (kept for partner-config drift)
      description: Same verification logic as `/api/webhooks/momo`.

  /pvmodern/checkout/momoReturn:
    get:
      tags: [Webhooks]
      summary: Browser return after MoMo wallet payment
      description: |
        Verifies the signed query params from MoMo and redirects to
        `/checkout?payment_result=...&gateway=momo&txn=...`. Payment confirmation
        always waits for the verified IPN — the return is navigation-only.
      responses:
        '302':
          description: Redirect to `/checkout`.

  /pvmodern/checkout/vnpayReturn:
    get:
      tags: [Webhooks]
      summary: Browser return after VNPay payment
      description: Mirror of `/checkout/momoReturn` for VNPay (`vnp_ResponseCode`).
      responses:
        '302':
          description: Redirect to `/checkout`.

  ###############################################################################
  # QR
  ###############################################################################
  /api/qr/sepay:
    get:
      tags: [QR]
      summary: Same-origin proxy for `https://qr.sepay.vn/img`
      description: |
        Required because Magento's default `img-src` CSP doesn't allowlist
        `qr.sepay.vn`. The whitelisted query params (`acc, bank, amount, des,
        template, download`) are sanitised then forwarded.
      parameters:
        - in: query
          name: acc
          required: true
          schema: { type: string }
        - in: query
          name: des
          required: true
          schema: { type: string }
        - in: query
          name: bank
          schema: { type: string, default: BIDV }
        - in: query
          name: amount
          schema: { type: integer }
        - in: query
          name: template
          schema: { type: string, default: compact }
      responses:
        '200':
          description: PNG QR image (5-minute browser cache).
          content:
            image/png: {}
        '400':
          description: Missing `acc`/`des`.
        '502':
          description: Upstream qr.sepay.vn unreachable.

  /api/qr/url:
    get:
      tags: [QR]
      summary: Same-origin QR encoder for arbitrary text/URL data
      description: |
        Used by demo mode to embed an HTTPS URL into a QR. Caches generated
        PNGs on disk for 30 minutes; `Cache-Control` set to one-year immutable.
      parameters:
        - in: query
          name: data
          required: true
          schema: { type: string, maxLength: 600 }
        - in: query
          name: size
          schema: { type: integer, default: 540, minimum: 120, maximum: 1024 }
      responses:
        '200':
          description: PNG QR image.
          content:
            image/png: {}
        '400':
          description: Empty / oversize `data`.

  /api/qr/scan-paid:
    get:
      tags: [QR]
      summary: Demo-mode scan-to-pay landing
      description: |
        **Only available when `PVMODERN_PAYMENT_DEMO=true`.** Returns a small
        HTML landing page and synthetically triggers
        `CassoTransactionProcessor::process()` for the order encoded in `order=ORD…`.
        Refuses with **403** when demo mode is off.
      parameters:
        - in: query
          name: order
          required: true
          schema: { type: string, example: 'ORD000000076' }
      responses:
        '200':
          description: HTML landing page (mobile-friendly).
          content:
            text/html: {}
        '403':
          description: Demo mode disabled.

  ###############################################################################
  # Shipping
  ###############################################################################
  /pvmodern/shipping/track:
    get:
      tags: [Shipping]
      summary: Raw carrier track lookup (provider + tracking_number)
      parameters:
        - in: query
          name: provider
          schema: { type: string, enum: [ghn, ghtk, spx] }
        - in: query
          name: tracking_number
          schema: { type: string }
      responses:
        '200':
          description: Raw shipping-manager payload.

  /pvmodern/shipping/cancel:
    post:
      tags: [Shipping]
      summary: Cancel a shipment via the configured carrier adapter
      parameters:
        - in: query
          name: provider
          schema: { type: string }
        - in: query
          name: shipment_id
          schema: { type: string }
      responses:
        '200':
          description: Cancellation result from the carrier adapter.

  ###############################################################################
  # Orders / Tracking
  ###############################################################################
  /pvmodern/orders/tracking:
    get:
      tags: [Orders]
      summary: Customer-facing tracking lookup for an order
      parameters:
        - in: query
          name: order_id
          required: true
          schema: { type: string }
        - in: query
          name: provider
          schema:
            type: string
            enum: [ghn, ghtk, spx]
            default: spx
        - in: query
          name: tracking_number
          schema: { type: string }
      responses:
        '200':
          description: Tracking payload (humanised status, timeline, ETA).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OrderTracking' }
        '400':
          description: Missing order_id.

  /order-tracking:
    get:
      tags: [Orders]
      summary: Order tracking page (HTML)

  /payment-confirmation:
    get:
      tags: [Orders]
      summary: Refresh-safe step-5 confirmation page (no empty-quote redirect)

  ###############################################################################
  # Auth
  ###############################################################################
  /pvmodern/auth/github:
    get:
      tags: [Auth]
      summary: Start GitHub OAuth (redirects to github.com)
      responses:
        '302':
          description: Redirect to GitHub authorize endpoint.

  /pvmodern/auth/githubCallback:
    get:
      tags: [Auth]
      summary: GitHub OAuth callback — provisions/logs in the matching Magento customer
      parameters:
        - in: query
          name: code
          schema: { type: string }
        - in: query
          name: state
          schema: { type: string }
      responses:
        '302':
          description: Redirect to `/customer/account` on success, or `/customer/account/login` on failure.

  ###############################################################################
  # PV Admin (cookie-protected)
  ###############################################################################
  /pvadmin/admin/login:
    get:
      tags: [PV Admin]
      summary: Render the admin login form (HTML)
      responses:
        '200':
          description: Login form HTML.
    post:
      tags: [PV Admin]
      summary: Sign in to `/pvadmin` (sets `pv_admin` cookie)
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                password: { type: string }
      responses:
        '302':
          description: Redirect to dashboard on success, or re-render with error on failure.

  /pvadmin/admin/logout:
    get:
      tags: [PV Admin]
      summary: Clear the `pv_admin` cookie

  /pvadmin/admin/orders:
    get:
      tags: [PV Admin]
      summary: List pv_payment_orders with filters + counts
      parameters:
        - in: query
          name: tab
          schema:
            type: string
            enum: ['', casso_log]
        - in: query
          name: status
          schema: { type: string }
        - in: query
          name: method
          schema: { type: string }
        - in: query
          name: date
          schema: { type: string, format: date }
        - in: query
          name: search
          schema: { type: string }
      responses:
        '200':
          description: Orders list + stats counters.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminOrdersResponse' }
        '401':
          description: Missing `pv_admin` cookie.

  /pvadmin/admin/approve:
    post:
      tags: [PV Admin]
      summary: Manually mark an order paid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [id]
              properties:
                id: { type: integer }
                note: { type: string }
      responses:
        '200':
          description: Order marked paid.
        '401':
          description: Unauthorized.
        '404':
          description: Not found.

  /pvadmin/admin/reject:
    post:
      tags: [PV Admin]
      summary: Mark an order failed
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id: { type: integer }
                note: { type: string }
      responses:
        '200':
          description: Order marked failed.

  /pvadmin/admin/screenshot:
    get:
      tags: [PV Admin]
      summary: Stream a screenshot proof image by `pv_payment_order.id`
      parameters:
        - in: query
          name: id
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Image bytes.
          content:
            image/*: {}
        '404':
          description: Not found.

  /pvadmin/admin/paymentReviews:
    get:
      tags: [PV Admin]
      summary: List pending manual-review rows
      parameters:
        - in: query
          name: status
          schema: { type: string }

  /pvadmin/admin/resolvePaymentReview:
    post:
      tags: [PV Admin]
      summary: Match an orphan transaction to a pv_payment_order (or ignore it)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                transactionId: { type: string }
                action:
                  type: string
                  enum: [resolve, ignore]
                  default: resolve
                pv_order_id: { type: integer }
      responses:
        '200':
          description: Review resolved.
        '404':
          description: Review not found.
        '422':
          description: Amount mismatch or no attempt for the matched order.

  ###############################################################################
  # Magento Admin (native backend ACL)
  ###############################################################################
  /pvmodern_payments/payments/index:
    get:
      tags: [Magento Admin]
      summary: Payment dashboard UI in the Magento backend (HTML)

  /pvmodern_payments/payments/orders:
    get:
      tags: [Magento Admin]
      summary: Backend orders listing (ACL-gated by `YourVendor_PVModern::payments`)

  /pvmodern_payments/payments/approve:
    post:
      tags: [Magento Admin]
      summary: Backend approve (records admin user from `$this->_auth`)

  /pvmodern_payments/payments/reject:
    post:
      tags: [Magento Admin]
      summary: Backend reject

  /pvmodern_payments/payments/screenshot:
    get:
      tags: [Magento Admin]
      summary: Backend screenshot stream

  /pvmodern_payments/payments/simulateWebhook:
    post:
      tags: [Magento Admin]
      summary: Sandbox-only — fire a synthetic Casso webhook for an order
      description: Returns 403 unless `IntegrationConfig::isMockModeEnabled('payment')` is true.

components:
  ###############################################################################
  # Schemas
  ###############################################################################
  schemas:
    ErrorResponse:
      type: object
      properties:
        success: { type: boolean, example: false }
        message: { type: string }

    CurrencyLatest:
      type: object
      properties:
        success: { type: boolean }
        updated_at: { type: string, example: '26/05/2026 10:42' }
        source: { type: string, example: Vietcombank }
        source_url: { type: string }
        note: { type: string }
        rates:
          type: array
          items:
            type: object
            properties:
              pair: { type: string, example: USD/VND }
              rate: { type: number }
              buy: { type: number, nullable: true }
              transfer: { type: number, nullable: true }
              sell: { type: number, nullable: true }
              name: { type: string }
              change: { type: number }
              updated: { type: string }
        supported:
          type: array
          items: { type: string }
        news:
          type: array
          items: { $ref: '#/components/schemas/NewsArticle' }
        mock: { type: boolean }

    CurrencyConvert:
      type: object
      properties:
        success: { type: boolean }
        from: { type: string, example: USD }
        to: { type: string, example: VND }
        amount: { type: number }
        result: { type: number }
        updated_at: { type: string }
        source: { type: string }
        source_url: { type: string }
        mock: { type: boolean }
        multi:
          type: array
          items:
            type: object
            properties:
              code: { type: string }
              value: { type: number }

    CurrencyHistory:
      type: object
      properties:
        success: { type: boolean }
        range: { type: string }
        points:
          type: array
          items:
            type: object
            properties:
              label: { type: string }
              value: { type: number }
        source: { type: string }
        source_url: { type: string }
        note: { type: string }

    NewsArticle:
      type: object
      properties:
        category_slug: { type: string }
        category: { type: string }
        time: { type: string }
        title: { type: string }
        summary: { type: string }
        source: { type: string }
        image: { type: string }
        url: { type: string }
        id: { type: string }

    NewsFeed:
      type: object
      properties:
        success: { type: boolean }
        category: { type: string }
        page: { type: integer }
        total_pages: { type: integer }
        total: { type: integer }
        breaking:
          type: array
          items: { type: string }
        lead: { $ref: '#/components/schemas/NewsArticle' }
        top:
          type: array
          items: { $ref: '#/components/schemas/NewsArticle' }
        items:
          type: array
          items: { $ref: '#/components/schemas/NewsArticle' }
        popular:
          type: array
          items: { $ref: '#/components/schemas/NewsArticle' }
        topics:
          type: array
          items: { type: string }
        filters:
          type: object
          properties:
            regions:
              type: array
              items: { type: string }
            sorts:
              type: array
              items: { type: string }
        updated_at: { type: string }
        source: { type: string }
        source_url: { type: string }
        mock: { type: boolean }

    Weather:
      type: object
      properties:
        success: { type: boolean }
        location: { type: string }
        updated_at: { type: string }
        unit: { type: string, enum: [metric, imperial] }
        provider: { type: string }
        source_url: { type: string }
        note: { type: string }
        current:
          type: object
          properties:
            temperature: { type: number }
            condition: { type: string }
            feels_like: { type: number }
            humidity: { type: integer }
            wind: { type: string }
            pressure: { type: string }
            visibility: { type: string }
            uv: { type: string }
            high: { type: number }
            low: { type: number }
            wind_direction: { type: string }
            rain_chance: { type: integer }
            sunrise: { type: string }
            sunset: { type: string }
            icon: { type: string }
        aqi:
          type: object
          properties:
            value: { type: integer }
            label: { type: string }
            advice: { type: string }
        map:
          type: object
          properties:
            lat: { type: string }
            lon: { type: string }
            layers:
              type: array
              items: { type: string }
        alert:
          type: object
        hourly:
          type: array
          items: { type: object }
        daily:
          type: array
          items: { type: object }
        mock: { type: boolean }

    BannerList:
      type: object
      properties:
        success: { type: boolean }
        placement: { type: string }
        items:
          type: array
          items:
            type: object
            properties:
              title: { type: string }
              image: { type: string }
              link: { type: string }
              source: { type: string }
        total: { type: integer }
        mock: { type: boolean }

    Locations:
      type: object
      properties:
        success: { type: boolean }
        source: { type: string, enum: [cache, provider, fallback] }
        mock: { type: boolean }
        locations:
          type: array
          items:
            type: object
            properties:
              name: { type: string }
              districts:
                type: array
                items:
                  type: object
                  properties:
                    name: { type: string }
                    wards:
                      type: array
                      items: { type: string }

    SearchSuggest:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              id: { type: integer }
              name: { type: string }
              sku: { type: string }
              url: { type: string }
              image: { type: string }
              price: { type: string }
              original_price: { type: string, nullable: true }
              discount: { type: integer, nullable: true }
        total: { type: integer }
        query: { type: string }

    CheckoutQuoteRequest:
      type: object
      required: [form_key]
      properties:
        form_key: { type: string }
        cart_id: { type: string }
        address:
          type: object
          properties:
            country_id: { type: string, example: VN }
            region: { type: string }
            city: { type: string }
            postcode: { type: string }
        items:
          type: array
          items:
            type: object

    CheckoutQuoteResponse:
      type: object
      properties:
        success: { type: boolean }
        shipping_methods:
          type: array
          items:
            type: object
            properties:
              code: { type: string }
              label: { type: string }
              amount: { type: number }
              eta: { type: string }

    CheckoutPlaceOrderRequest:
      type: object
      required: [form_key]
      properties:
        form_key: { type: string }
        billing_address: { type: object }
        shipping_address: { type: object }
        shipping_method: { type: string }
        payment_method: { type: string }
        items:
          type: array
          items: { type: object }

    CheckoutPlaceOrderResponse:
      type: object
      properties:
        success: { type: boolean }
        order_increment_id: { type: string, example: '000000037' }
        redirect: { type: string, nullable: true }

    CreatePaymentRequest:
      type: object
      properties:
        orderId:
          type: string
          example: '000000037'
          description: Magento `increment_id` (preserve leading zeros).
        selectedMethod:
          type: string
          enum: [bank, bank_transfer, card, wallet, momo, vnpay, stripe]
        currency:
          type: string
          enum: [VND]
          default: VND
        wallet:
          type: string
          enum: [momo, vnpay]
          description: Used when `selectedMethod=wallet`.
        bank_id:
          type: string
        amount:
          type: number
          description: Only used when no order has been placed (demo path).

    CreatePaymentResponse:
      type: object
      properties:
        success: { type: boolean }
        paymentId: { type: string }
        paymentAttemptId: { type: integer, nullable: true }
        orderId: { type: string }
        status:
          type: string
          enum: [pending, paid, failed, expired, manual_review, cancelled]
        method:
          type: string
          enum: [momo, vnpay, card, bank_qr]
        amount: { type: number }
        currency: { type: string, example: VND }
        paymentUrl: { type: string }
        qrCodeUrl: { type: string }
        qrPayload: { type: string }
        expiresAt: { type: string, format: date-time }
        statusEndpoint: { type: string }
        eventsEndpoint: { type: string }
        step4Payload:
          type: object
          properties:
            qrCodeUrl: { type: string }
            qrCodePayload: { type: string }
            paymentUrl: { type: string }
            deeplinkUrl: { type: string }
            amount: { type: number }
            transferCode: { type: string }
        mock: { type: boolean }
        message: { type: string }

    PaymentStatusResponse:
      type: object
      properties:
        success: { type: boolean }
        paymentId: { type: string }
        orderId: { type: string }
        status: { type: string, enum: [pending, paid, failed, expired, manual_review, cancelled] }
        gateway: { type: string }
        updatedAt: { type: string, format: date-time }
        message: { type: string }

    PvStatusResponse:
      type: object
      properties:
        success: { type: boolean }
        pv_order_id: { type: integer }
        paymentAttemptId: { type: integer }
        orderId: { type: string }
        method: { type: string }
        status: { type: string }
        paidAt: { type: string, format: date-time, nullable: true }
        providerTransactionId: { type: string }
        transfer_code: { type: string, example: 'ORD000000037' }
        payment_method: { type: string }
        total_amount: { type: number }
        expires_at: { type: string }
        screenshot_uploaded: { type: boolean }
        nextStepAllowed: { type: boolean }
        can_proceed: { type: boolean }
        payment:
          type: object
          nullable: true
          description: Mirrors `sales_order_payment.additional_information.pvmodern_payment_context`.

    PaymentAttemptSnapshot:
      type: object
      properties:
        success: { type: boolean }
        paymentAttemptId: { type: integer }
        orderId: { type: string }
        method: { type: string }
        status: { type: string }
        paidAt: { type: string, format: date-time, nullable: true }
        providerTransactionId: { type: string }
        nextStepAllowed: { type: boolean }

    CassoPayload:
      type: object
      description: Casso may send a single transaction at the root, or an array under `data`.
      properties:
        data:
          oneOf:
            - type: array
              items: { $ref: '#/components/schemas/CassoTx' }
            - { $ref: '#/components/schemas/CassoTx' }
        id: { type: string }
        description: { type: string }
        amount: { type: number }

    CassoTx:
      type: object
      properties:
        id: { type: string }
        tid: { type: string }
        description: { type: string }
        amount: { type: number }
        kind: { type: integer, enum: [1, 2], description: '1 = credit (in), 2 = debit (out). Only kind=1 is processed.' }

    SepayPayload:
      type: object
      properties:
        id: { type: integer, example: 92704 }
        gateway: { type: string, example: BIDV }
        transactionDate: { type: string, example: '2026-05-15 03:01:17' }
        accountNumber: { type: string }
        subAccount: { type: string }
        code: { type: string, example: 'ORD000000064' }
        content: { type: string }
        transferType: { type: string, enum: [in, out] }
        description: { type: string }
        transferAmount: { type: number }
        accumulated: { type: number }
        referenceCode: { type: string }

    MomoIpnPayload:
      type: object
      properties:
        partnerCode: { type: string }
        orderId: { type: string }
        requestId: { type: string }
        amount: { type: number }
        orderInfo: { type: string }
        orderType: { type: string }
        transId: { type: string }
        resultCode: { type: string, example: '0' }
        message: { type: string }
        payType: { type: string }
        responseTime: { type: integer }
        extraData: { type: string }
        signature: { type: string }
        accessKey: { type: string }

    OrderTracking:
      type: object
      properties:
        success: { type: boolean }
        order_id: { type: string }
        carrier: { type: string }
        carrier_label: { type: string }
        tracking_number: { type: string }
        status: { type: string, example: 'Đang vận chuyển' }
        raw_status: { type: string }
        updated_at: { type: string, format: date-time }
        eta: { type: string, format: date }
        timeline:
          type: array
          items:
            type: object
            properties:
              label: { type: string }
              time: { type: string }
        mock: { type: boolean }

    AdminOrdersResponse:
      type: object
      properties:
        orders:
          type: array
          items: { type: object }
        stats:
          type: object
          properties:
            pending_review: { type: integer }
            manual_review: { type: integer }
            paid: { type: integer }
            total: { type: integer }
            casso_today: { type: integer }

  securitySchemes:
    PvAdminCookie:
      type: apiKey
      in: cookie
      name: pv_admin
      description: HMAC-SHA256(`pvadmin_<unix-day>`, admin_password). Set by `POST /pvadmin/admin/login`.
    MagentoBackend:
      type: apiKey
      in: cookie
      name: admin
      description: Standard Magento backend session — gated by ACL `YourVendor_PVModern::payments`.
    CassoSignatureV2:
      type: apiKey
      in: header
      name: X-Casso-Signature
    StripeSignature:
      type: apiKey
      in: header
      name: Stripe-Signature
    SepayApiKey:
      type: http
      scheme: bearer
      bearerFormat: ApiKey
    PvModernWebhookHmac:
      type: apiKey
      in: header
      name: X-PVModern-Signature
